header{
    /* position: fixed; */
    width: 100%;

}
.box{
    display: none;
    
}
.main-header_bgc{
    background-color: white;
    width: 100%;
}
.main-header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 100%;
}

.main-header h1{
    display: flex;
    align-items: center;
    flex-grow: 0;
}

.main-nav{
    position: absolute;
    width: 100%;
    background-color: #fff;
    left: 0;
    top: 100%;
    display: none;
}
#menu-control{
    display: none;
    position: absolute;
    z-index: 10;
}
#menu-control:checked ~ .main-header .main-nav{
    display: block;
}
.main-nav a{
    display: block;
    font-size: 18px;
    padding: 20px 20px;
    border-top: 1px dotted #666;
    text-decoration: none;
    color: #000;
}
.logo img{
    vertical-align: top;
}
.hb{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 40px;
}
.main-nav .a1{
    background-color: #0747A6;
    align-items: center;
    border-radius: 50px;
    margin: 10px;
    height: 15px;
    width: 86%;
    color:#fff;
    justify-content: center;
    text-align: center;
}

.main-nav .a2{
    align-items: center;
    border-radius: 50px;
    margin: 10px;
    height: 15px;
    width: 86%;
    background-color: transparent;
    color: #0061FF;
    border: 2px solid #0061FF;
    justify-content: center;
    text-align: center;
}

@media screen and (min-width: 992px) {
    header{
        width: 100%;
        background-color: #00142d;
    }
    .main-top{
        max-width: 1200px;
        display: flex;
        justify-content: flex-end;
        margin: auto;
    }
    .box{
        padding: 10px;
        display: flex;
        vertical-align: middle;
    }
    .box a,span{
        text-decoration: none;
        color: #fff;
        padding: 0 10px;
    }
    .main-header{
    justify-content: space-around;
    }
    .main-nav{
        position: relative;
        width: auto;
        background-color: transparent;
        display: block;
    }
    #menu-control{
        position: absolute;
        z-index: 10;
    }
    
    .main-nav a{
        display: inline-block;
        padding: 10px 10px;
        border-top: none;
        margin: 0 10px;
    }
    .main-nav .a1{    
        width: 60px;
        background-color: #0061FF;
        font-size: 15px;
    }
    
    .main-nav .a2{
        display: none;
    }
    .hb{
        display: none;
    }
} 

