.All {
    max-width: 1200px;}
.about .item-grop {
    margin: 0 10px;
    }
.title{
    text-align: center;
}
.title h2{
    font-size: x-large;
    font-weight:bolder;
    line-height: 1.5;
}
.title p{
    margin: 10px 0 30px;
    line-height: 1.5;
    color: #324255;
}

.home-content .row:nth-child(odd) {
    margin: 10px 0;
    display: flex;
    flex-direction: column-reverse;
}
.title .row img{
    width: 100%;
    vertical-align: top;
}
.home-content .row .info h2{
    font-weight: bold;
    font-size: 30px;
    line-height: 1.5;
    margin: 25px 10px;
}

.home-content .row .info p{
    font-weight: 400;
    line-height: 1.8;
    margin: 10px;
}
ul{
    display: flex;
    flex-direction: column;
}
.home-content .row .info .list li{
    margin: 10px;
}
.home-content .row .info .list li span{
    display: inline-block;
    font-size: 20px;
    background-color: #8df;
    border-radius: 50%;
}
.home-content .row .info .seemore{
    margin: 30px 0;
}
.home-content .row .info .seemore a{
    text-decoration: none;
    color: blue;
    margin: 10px;
}
.home-content .row .info{
    width: 100%;
    /* margin: 10px; */
}

@media screen and (min-width:768px) {
    ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 10px;
    }
    
    .home-content .row .info .list{
        display: flex;
        flex-wrap: wrap;
    }
    .home-content .row .info .list li{
        width: 50%;
        margin: 5px 0;
    }
}
@media screen and (min-width:992px) {
    .home-content .row{
        display: flex;
        flex-direction: row;
    }
    .home-content .row .pic{
        width: 50%;
        display: flex;
        align-items: center;
    }
    .home-content .row .info{
        width: 50%;
    }
}
@media screen and (min-width:1200px) {
    .All{
        margin: auto;
    }
}

