body{
    display: grid;
    flex-direction: column;
    align-items: center;
}

.function h2{
    background-color: #ae0014;
    font-size: 40px;

}
.function h2 span{
    font-size: 120px;
    writing-mode: vertical-lr;
    vertical-align: middle;
}
.control .function h3{
    font-size: 25px;
    padding: 10px;
}
.control-odd .function h3{
    font-size: 25px;
    padding: 30px 10px 10px;
}
.function p{
    font-size: 19px;
    line-height: 2;
    padding: 0 10px 20px;
}


.innovation h2{
    color: #bb0404;
    font-weight: bold;
    font-size: 20px;
}
.innovation-title{
    color: #000;
    padding: 20px 0;
    width: 100%;
}
.innovation h2::after{
    content: '―――――――――――――――――――――――';
}
.innovation h3{
    background-color: #000;
    color: #fff;
    padding: 5px 15px;
    display: inline-block;
}
.innovation p{
    margin: 10px 0;
    line-height: 1.5;
}
.innovation p::before{
    content: '▪';
    color: red;
} 

.control-odd{
    width: 960px;
    display: grid;
    grid-template-columns: repeat(20,50px);
    grid-template-rows: repeat(18,50px);
    /* margin-top: 50px;
    margin-bottom: 100px; */
    margin: auto;

}
.control-odd .block{
    background-color: #eeeeee;
    width: 430px;
    height: 290px;
    z-index: -1;
    grid-area: 4/11/2/12;
}
.control-odd .function{
    width: 330px;
    background-color: black;
    color: #fff;
    z-index: 2;
    grid-area: 1/1/9/13;
}
.control-odd .pic{
    grid-area: 3/5/13/12;
}
.control-odd .youtube-icon{
    grid-area: 8/17/14/19;
}
.control-odd .innovation{
    background-color: #ddd;
    width: 680px;
    line-height: 1;
    padding: 0 20px;
    font-size: 16px;
    z-index: 1;
    grid-area: 10/3/17/19;
}

.innovation_s h2{
    color: #bb0404;
    font-weight: bold;
    font-size: 20px;
}
.innovation_s-title{
    color: #000;
    padding: 20px 0;
    width: 100%;
}
.innovation_s h2::after{
    content: '―――――――――――――――――――――――';
}
.innovation_s h3{
    background-color: #000;
    color: #fff;
    padding: 5px 15px;
    display: inline-block;
}
.innovation_s p{
    margin: 10px 0;
    line-height: 1.5;
}
.innovation_s p::before{
    content: '▪';
    color: red;
} 
.control-odd .innovation_s{
    background-color: #ddd;
    width: 680px;
    line-height: 1;
    padding: 0 20px;
    font-size: 16px;
    z-index: 1;
    grid-area: 10/3/14/19;
}

.control{
    width: 960px;
    display: grid;
    grid-template-columns: repeat(20,50px);
    grid-template-rows: repeat(20,50px);
    /* margin-top: 50px;
    margin-bottom: 100px;
    margin: auto; */
}
.control .block{
    background-color: #eeeeee;
    width: 520px;
    height: 338px;
    z-index: -1;
    grid-area: 4/7/3/12;
}
.control .function{
    width: 330px;
    background-color: black;
    color: #fff;
    z-index: 2;
    grid-area: 1/14/8/20;

}
.control .pic{
    grid-area: 4/3/13/12;
}
.control .youtube-icon{
    z-index: 2;
    grid-area: 8/2/14/19;
}
.control .innovation{
    background-color: #ddd;
    width: 682px;
    line-height: 1;
    padding: 0 20px;
    font-size: 16px;
    z-index: 1;
    grid-area: 11/6/16/8;
} 