body {
    font-family: 'Noto Sans TC', '微软雅黑', sans-serif;
    background-color: #f5f5f5;
    font-weight: 500;
}

input.search ::before {
    content: '\f002';
}

h2 {
    font-weight: 600;
}

.filter-group {
    background-color: #fff;
}

.Price-Range {
    color: #666;
}
.a{
    color: #666;
}

.card-point {
    color: #333;
}

.label-addational {
    background-color: rgba(100, 179, 244, .1);
    color: #64b3f4;
    margin: 0 6px 6px 0;
    font-size: 12px;
    padding: 3px 8px;
    font-weight: 700;
}

.card-text-info {
    font-size: 14px;
}

.accordion-button:hover {
    background: #eff9fa;
}

.accordion-button:not(.collapsed){
    background-color: #fff;
}

.accordion-item {
    border: none;
}


.collapsed {
    color: #000;
    background-color: #fff;
    /* border: none; */
}

.fa-star,
.fa-star-half {
    color: #26bec9
}

.fa-fire {
    color: #ffc612;
}

.fa-calendar,
.fa-location-dot {
    color: #cccccc;
}

.card {
    border: none;
}
