    *{
        margin: 0;
        padding: 0;
    }
    body{
        padding-top: 60px;
    }
    nav{
        background-color: #00142D;
        text-align: end;
        position: fixed;
        top: 0; 
        left: 0;    
        width: 100%;
        
        /* display: flex; */
    }
    nav a{
        color: #fff;
        font-size: 4px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        padding: 8px 10px 8PX 15PX;
        box-sizing: border-box;  
        /* top: 0; 
        left: 0;     */
    }
    .one {
        width: 1200px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #ffffff;
        flex-wrap: wrap;
        padding: 5px;
    }
    .one a{
        padding: 0;
        margin: 0;
    }
    .one image{
        display: inline;
        padding: 150px;
        font-size: xx-large;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .a{
        margin: 5px;
        
    }
    .a1{
        margin: 15px;
        height: 20px;
        background-color: #0000ff;
        color: #f0f8ff;
        text-decoration: none;
    }
    a:hover{
        color: rgba(6, 119, 248, 0.842);
    }
    .two{
        width: 100%;
        flex-direction: row;
        background-color: rgb(12, 12, 54);
    }
    .two .left h2{
        color: #ffffff;
        font-size: 40px;
        margin: 20px 20px ;
        font-weight: bold;
    }
    .two .left1 h2{
        color: green;
        font-size: 40px;
        margin: 20px 20px ;
        font-weight: bold;
    }

    .two p{
        color: #ffffff;
        font-size: 15px;
        margin: 20px 0px ;
        font-weight: bold;
        
    }

    .two .right{
        text-align: end;

    }
    .two .right{
        margin: auto;
        }

    .title{
        text-align: center;
    }
    .title h2{
        font-size: 42px;
        margin: auto;
        padding: 20px 0;
        line-height: 1.2;
    }
    .title p{
        margin: auto;
        padding: 0 40px;
        text-align: center;
        font-size: 16px;
        line-height: 2;
    }


    .three .wrap{
        width: 1100px;
        margin: auto;
        font-size: 0;
    }
    .three .wrap .row{
        padding: 40px 0;
    }
    .three .wrap .row:not(:first-child){
        border-top: 1px dotted #666;
    }
    .three .wrap .row:nth-child(odd){
        direction: rtl;
    }
    .three .pic,.txt{
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        padding: 1em;
        font-size: 16px;
        line-height: 2;
        vertical-align: middle;
        direction: ltr;
    }
    .three .wrap .row:nth-child(even) .txt{
        text-align: left;
    }
    .three .txt h2{
        font-size: 40px;
        line-height: 1.5;
    }
    .three .pic img{
        width: 100%;
    }
    .list{
        width: 460px;
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0px;
    }
    .list div{
        width: 50%;
        margin-bottom: 2.5px;
    }
    .txt a{
        color: #0000ff;
    }


    .four{
        background-color: #F4F4F4;
        padding: 40px 0;
    }
    .four .wrap{
        padding: 0 100px;
    }
    .four .row{
        display: flex;
    }
    .four h2{
        margin: 0 auto 20px;
        text-align: center;
        font-size: 35px;
        padding: 20px 0;
    }
    .four .item{
        margin: 0 10px;
        width: 500px;
        text-align: center;
    }
    .four h3{
        font-size: 18px;
        margin: 30px auto 10px;
    }
    .four  p{
        font-size: 16px;
        line-height: 2;
        margin: 0 auto 40px;
    }
    .four .item img{
        background-color: #fff;
        border-radius: 50%;
    }


    .five h2{
        text-align: center;
        font-size: 35px;
        margin: 50px 0 20px;
    }
    .five .wrap{
        display: flex;
        flex-wrap: wrap;
        width: 1100px;
        margin: auto;
    }
    .five .item{
        width: 200px;
        padding-bottom: 20px;
    }


    .six .row{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        margin: 10px 210px;
    }
    .six .row .txt a{
        font-size: 18px;
        text-decoration: none;
    }
    .six .row .txt p{
        font-size: 16px;
        padding-bottom: 40px;
    }


    .seven img{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }


    .eight{
        background-color: #00142D;
        padding: 40px 0 80px;
        color: #ccc;
    }
    .eight .group{
        display: flex;flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
    }
    .col{
        text-align: left;
        margin: 0 50px;

        /* width: 160px; */
    }
    .col h3{
        font-size: 18px;
        margin: 50px 0;
    }
    .col div{
        font-size: 16px;
        margin: 20px 0;
    }
    .eight .button{
        text-align: right;
        margin: 60px 150px;
    }
    .eight .button a{
        background-color: #9FDFDF	;
        padding: 10px 45px;
        font-size: 14px;
        color: #000;
        text-decoration: none;
    }


    .eight .last .wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 1200px;
        margin: auto;
        padding-top: 20px;
    }
    .eight .last .wrap a{
        text-decoration: none;
        color: #fff;
    }
