body {
    font-family: 'Noto Sans TC', '微软雅黑', sans-serif;
    background-color: #f5f5f5;
    font-weight: 600;
    scroll-behavior: smooth;
}

.input-group-text {
    color: #26bec9;
}

input.search {
    padding: 0;
}

.form-check {
    margin: 0 20px;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
}

/* .form-check-time {
    margin: 0 20px;
    padding: 10px 20px;

} */

.form-check-input {
    width: 18px;
    height: 18px;
    /* vertical-align: middle;
    margin-right: 8px; */
}

h2 {
    font-weight: 600;
}

.filter-group {
    background-color: #fff;
}

.delete-chip,
.Price-Range {
    color: #666;

}

.chip-clear {
    background-color: #999;
    border: 1px solid #999;
}

.chip-clear:hover {
    background-color: #666;
    border: 1px solid #666;
}


.delete-chip :hover {
    color: #666;
}

.chip:hover {
    color: #26bec9;
}
span.sort:hover{
    color: #26bec9;
}
@media screen and (min-width: 992px){
    .product-filter{
        width: none;
    }
}
.card-point {
    color: #333;
}

p {
    font-size: 14px;
}

.label-addational {
    background-color: rgba(100, 179, 244, .1);
    color: #64b3f4;
    margin: 0 6px 6px 0;
    font-size: 12px;
    padding: 3px 8px;
    font-weight: 700;
}

.card-text-info {
    font-size: 14px;
    max-height: 52px;

}

p .card-text {
    font-size: 12px;
}

.accordion-button:hover {
    background: #eff9fa;
}


.accordion-button:not(.collapsed) {
    background-color: #eff9fa;
    color: #000;
}

.accordion-item {
    border: none;
}

.collapsed {
    color: #000;
    background-color: #fff;
    /* border: none; */
}

.fa-star,
.fa-star-half,
.card-title_group {
    color: #26bec9
}
.fa-fire{
    color: #ffc612;
}
.card-footer,.sort {
    color: #999;
}
.fa-dollar-sign{
    color: #000;
}
.sort:hover {
    color: #26bec9;
}

.fa-calendar,
.fa-location-dot {
    color: #cccccc;
}

.card_detail {
    /* border: none; */
    position: relative;
    opacity: 1.0;
    filter: alpha(opacity=100);
    background-color: #fff;

}

.card_detail:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}


h5 .card-title_group {
    font-weight: 400;
}

/* .span_divider {
    color: #aaa;
} */

.number,
.subscription,
.TWD-line,
.span_divider {
    font-size: 15px;
    color: #999;
}

.a:hover {
    background: #666;
}

.discount {
    background: linear-gradient(45deg, #ffaf1e, #ffd56e);
    color: #fff;
    /* font-size: 6px; */
    text-shadow: 0 1px 2px #e18d0e;
    border-radius: 4px 4px 0 4px;
}

.fa-heart {
    position: absolute;
    right: 0;
    /* color: #ccc; */
}
.fa-heart:hover {
    color: #f00;
}


/* ul .page {
    margin: 30px 0;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
} */
.page {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    left: 50%;
    position: relative;
    background-color: #fff;
}


.scroll-top {
    text-decoration: none;
    width: 35px;
    height: 35px;
    background: rgba(0, 0, 0, .4);
    color: #f1f1f1;
    font-size: 1em;
    text-align: center;
    line-height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    right: 25px;
    bottom: 50px;
    padding-top: 2px;
    border-radius: 2px;
    border: none;
}