.sever {
    background-color: #e0e5e9;
}

.sever .wrap {
    padding: 30px 10px 30px 10px;
    max-width: 1200px;
    box-sizing: border-box;
}
.sever .wrap .moresever {
    display: flex;
    justify-content: center;
}
.sever .wrap .moresever h2 {
    font-size: xx-large;
    font-weight: 600;
    margin: 0px 0 20px;
}
.sever .wrap .row {
    display: flex;
    flex-wrap: wrap;
}
.sever .wrap .row .item {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.sever .wrap .row .item-pic img{
    background-color: #fff;
    border-radius: 50%;
    /* margin: 0 140px; */
}
.sever .wrap .row .item-pic{
    text-align: center;
}

.sever .wrap .row .item  h3 {
    font-size: 20px;
    text-align: center;
    line-height: 1.5em;
    margin: 15px 0 10px;
}

.sever .wrap .row .item p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.pop {
    box-sizing: border-box;
    margin: auto;
}

.pop h2 {
    font-size: 38px;
    line-height: 1.5em;
    font-weight: 600;
    margin: 10px 0;
    text-align: center;
}
.pop span {
    color:blue;
}
.pop .popularity {
    display: none;
}
.brand{
    width: 100%;
    margin: auto;
    display: flex;
}
.pic img{
    width: 100%;
    vertical-align: top;
}
.bonny{
    width: 600px;
    font-size: 20px;
}
.bonny p{
    font-size: 16px;
    line-height: 1;
    padding-top: 43px;
}
.bonny_text{
    margin: 20px 0;
}
.bonny_text a{
    text-decoration: none;
    color: #0061ff;
} 
.pop .item .asia .brand-content{
    line-height: 1.8em;
    margin: 30px 0 20px 0;}


.glob{
    height: 500px;
    background-color:#172b4d;
    background-image: url("https://img.shoplineapp.com/media/image_clips/609d0f5c33fdc6001aa95da6/original.png?1620905820");
    background-repeat: no-repeat;
    background-position: 70px 160px;
}
.glob .asia{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.glob .asia h2{
    color: white;
    font-size: 40px;
    line-height: 1.5;
    margin: 20px;
}
.glob a{
    display: flex;
    width: 330px;
    color: white;
    font-size: larger;
    justify-content: center;
    background-color: blue;
    line-height: 2;
    border-radius: 20px;
    text-decoration: none;
}
@media screen and (min-width: 768px){
    .sever .wrap{ 
    max-width: 1200px;
    margin: auto;
    }
    .sever .wrap .row .item {
        width: calc(100% / 3);
    }
    .pop h2 {
        align-items: center;
    }
    .glob{
        height: 400px;
        background-position: 200px 85px;
    }
    .glob .asia{
        align-items: flex-start;
    }  
    .glob .asia h2{
        width: 40%;
    }

}
@media screen and (min-width: 992px){
    .pop .popularity{
        display: block;
        margin: 10px 0;
    }
    .pop .popularity{
        display: flex;
        flex-direction: row;
    }
    .pop .popularity a{
        display: flex;
        width: 240px;
        height: 100px;
        justify-content: center;
        align-items: center;
    }
    .pop .popularity a img{
        width: 30%;
    }
    .popularity ul{
        width: 1200px;
        list-style: none;
        display: flex;
        justify-content:space-evenly;
    }
    .popularity li{
        margin: auto;
    }
    .popularity li img{
        margin: auto;
    }
    .bonny{
        display: flex;
        flex-direction: column;
    }
    .bonny_pic{
        width: 60%;
        padding-left: 40px;
    }
    .bonny_text{
        width: 40%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .popularCustomers .item .asia .brand-content{
        line-height: 1.8em;
        margin: 0;
    }
    .glob{
        background-position: 600px 45px;
    }
    .glob .asia{
        padding: 100px 0px 0px 0px;
        align-items: flex-start;
    }  
    .glob .asia h2{
        width: 80%;
    }
    .glob a{
        margin: 0 25px;
    }
}
@media screen and (min-width:1200px) {
    .glob .asia{
        max-width: 1200px;
        margin: auto;
    }
}
